<!DOCTYPE html>
<html>

<head>
    <title>My Travel Buddy Login</title>
</head>

<body>
    <form>
        <h1>Login</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}" />
        <div class="textbox">
            <input type="text" placeholder="User">
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password">
        </div>
        <input type="submit" value="Login" class="loginBtn">
        <div class="signup">
            Don't have an account?
            </br>
            <a href="#">Sign up</a>
        </div>
    </form>
</body>

</html>