<!DOCTYPE html>
<html>

<head>
    <title>Create Profile</title>
</head>


<body>
    <form method="POST">
        <h1>Profile Creation</h1>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}" /> -->
        <h2>Welcome {{ user.first_name }}.</h2>
        <div class="textbox">
            <label>Enter your birthday </label>
            <input type="date" id="birthday" name="birthday" placeholder="Enter Birthday">
            </input>
        </div>

        <div class="textbox">
            <label>Enter your location </label>
            <input type="text" id="city" name="city" placeholder="Enter city">
            </input>
        </div>

        <div class="textbox">
            <label for="gender">Select your gender:</label>
            <select id="gender" name="gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
            </select>
        </div>
            <div class="textbox">
                <!-- <form action="/personal_info" method="post"> -->
                <label for="preferences">Select Preferences:</label><br>
                
                <input type="checkbox" id="creativity" name="preferences[]" value="creativity">
                <label for="creativity">Creativity</label><br>
                
                <input type="checkbox" id="outdoor" name="preferences[]" value="outdoor">
                <label for="outdoor">Outdoor</label><br>

                <input type="checkbox" id="relaxation" name="preferences[]" value="relaxation">
                <label for="relaxation">Relaxation</label><br>

                <input type="checkbox" id="adventure" name="preferences[]" value="adventure">
                <label for="adventure">Adventure</label><br>

                <input type="checkbox" id="culture" name="preferences[]" value="culture">
                <label for="culture">Culture</label><br>

                <input type="checkbox" id="food" name="preferences[]" value="food">
                <label for="food">Food</label><br>

                <input type="checkbox" id="nightlife" name="preferences[]" value="nightlife">
                <label for="nightlife">Nightlife</label><br>

                <input type="checkbox" id="shopping" name="preferences[]" value="shopping">
                <label for="shopping">Shopping</label><br>

                <input type="checkbox" id="sports" name="preferences[]" value="sports">
                <label for="sports">Sports</label><br>

                <input type="checkbox" id="entertainment and media" name="preferences[]" value="entertainment and media">
                <label for="entertainment and media">Entertainment and Media</label><br>

                <input type="checkbox" id="learning" name="preferences[]" value="learning">
                <label for="learning">Learning</label><br>

                <input type="checkbox" id="sight-seeing" name="preferences[]" value="sight-seeing">
                <label for="sight-seeing">Sight-seeing</label><br>

                <input type="checkbox" id="gaming and puzzles" name="preferences[]" value="gaming and puzzles">
                <label for="gaming and puzzles">Gaming and Puzzles</label><br>

              </div>
              
            <!-- <input type="submit" value="Submit"> -->
        </div>
        <div class="textbox">
            <label for="diatery restrictions">Select your diatery restrictions:</label>
            <select id="diet" name="diet">
                <option value="none">None</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
                <option value="gluten-free">Gluten-free</option>
                <option value="lactose-free">Lactose-free</option>
                <option value="halal">Halal</option>
                <option value="kosher">Kosher</option>
                <option value="other">Other</option>
            </select>
        </div>

        <button type="submit" value="submit" class="loginBtn">Submit</button>



    </form>
</body>

</html>