<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
<body>
<form>
    <h1>Profile</h1>
    <div class = signup>
        <h2>Name: [name]</h2>
        <h2>Birthday: [birthday]</h2>
        <h2>Age: [age]</h2>
        <h2>Location: [location]</h2>
        <h2>Gender: [gender]</h2>
        <h2>Preferences: [preferences]</h2>
        <h2>Dietary Restrictions: [dietaryRestrictions]</h2>
    </div>
    <div>
        <button class = loginBtn id="settingsButton">Settings</button>
    </div>
</form>
</body>
</html>
