* {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #f8b08f, #ef856b, #774162);

}

form {
    background: rgba(255, 208, 180, 0.808);
    height: 400px;
    width: 350px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-size: 40px;
}

.textbox {
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
}

.textbox input {
    width: 100%;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    background: none;
}

.loginBtn:hover {
    background-position: right;
    font-size: 17px;
}

.loginBtn {
    margin-top: 15px;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #f28080, #fba18f);
    background-size: 200%;
    transition: .5s;
    font-size: 16px;
    color: white;
}

.signup {
    color: white;
    text-align: center;
}